<h1>List restaurants</h1>
<% @restaurants.each do |restaurant| %>
<ul>
  <td><%= restaurant.name %></td>
  <td><%= restaurant.address %></td>
  <td><%= restaurant.category %></td>
  <td><%= link_to "click here", restaurant_path(restaurant) %></td>
<//ul>
<% end %>

<%= link_to 'New Restaurant', new_restaurant_path %>