
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @restaurant.category %>
</p>

<%= link_to 'Back', restaurants_path %> |
<%= link_to 'let a review', new_restaurant_review_path(@restaurant) %> 